@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Trispace:wght@100..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
  --base-color: #590016;
  --text-color: #ffffff;
  --primary-color: #5049af69;
  --secondary-color: #71c6ff;
  --accent-color: #37cadd;
  --light-gray: #e0e0e0;
  --dark-brown: #8b5309;
  --border-color: #00000069;
  --border-radius: 2rem;
  --spacing: 2em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Trispace', 'Datatype', sans-serif;
    color: var(--text-color);
}
body {
    padding: 2em 1em;
    background-color: var(--base-color);
    line-height: 1.6;
}
h1, h2, h3 {
    font-family: 'DM Sans', 'Datatype', sans-serif;
    margin-bottom: 0.5em;
}

a {
    color: var(--text-color);
    text-decoration: none;
}