@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&family=Trispace:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
  --base-color: #000000;
  --text-color: #ffffff;
  --primary-color: #5049af69;
  --secondary-color: #71c6ff;
  --color-1: #1da4b6;
  --color-2: #e0e0e0;
  --color-3: #8b5309;
}
